.form-conteiner {
    font-family: Roboto;
    color: #565656;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-150%);
    padding: 20px;
    gap: 30px; 
    background-color: aliceblue;   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.form-item {
    display: flex;
    justify-content: space-between;
}