*{
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
}


.conteiner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 50px;
    padding: 30px;
    color: #565656;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
}

