*{
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
}


.products-list{
    margin: 0 auto;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 28px;
}

.products-list2 {
    margin: 0 auto;
    max-height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 28px;
}


