* {
    margin: 0;
    box-sizing: border-box;
}

.switcher-conteiner {
    display: flex;
    gap: 20px;
}

.switcher-img {
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
}

.switcher-button {
    margin: 0;
    padding: 0;
    border-color: white;
    background-color: white;
    border-style: none;
    cursor: pointer;
}